body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #767676;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.main-header {
    height: 80px;
    background-color: #212121;
}

.main-logo {
    float: left;
    width: 148px;
    height: 41px;
}

.main-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
    width: 600px;
}

.main-nav ul {
    float: right;
}

.main-nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 16px;
}

.main-nav li:last-child {
    margin-right: 0;
}
.main-nav a {
    color: #A1A1A1;
    text-decoration: none;
}

.promo {
    margin-top: -19px;
    height: 656px;
    background: url(../img/header-bg-3.jpg) center center;
}

.promo-left {
    margin-top: 100px;
    margin-bottom: 120px;
    float: left;
    width: 490px;
}

h1.promo-heading {
    color: #D95B44;
    font-size: 45px;
    margin-bottom: 38px;
}
h3.promo-heading-desrciption {
    font-size: 16px;
    font-weight: lighter;
    color: #d0d0d0;
}
.promo-right {
    margin-top: 100px;
    float: right;
}

.heading-features {
    margin-top: 70px;
    width: 80%;
    margin: 0 auto;
}

.heading-features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.heading-features li {
    display: inline-block;

}

.heading-features h4 {
    color: #d0d0d0;
}
.feature-item {
    width: 160px;
    height: 70px;
    background-color: rgba(23,23,20, 0.6);
}

