body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #767676;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}
.main-header {
    height: 80px;
    background-color: #212121;
}

.main-logo {
    float: left;
    width: 148px;
    height: 41px;
    margin-top: 10px;
}

.main-nav {
    padding: 0;
    margin-top: 10px;
    list-style: none;
    float: right;
    width: 600px;
}

.main-nav ul {
    float: right;
}

.main-nav li {
    display: inline-block;
    text-transform: uppercase;
    margin-right: 16px;
}

.main-nav li:last-child {
    margin-right: 0;
}
.main-nav a {
    color: #A1A1A1;
    text-decoration: none;
    transition: all .5s;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.main-nav a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.promo {
    margin-top: -19px;
    height: 673px;
    background: url(../img/header-bg-3.jpg) center center;
}

.promo-left {
    margin-top: 120px;
    margin-bottom: 180px;
    float: left;
    width: 490px;
}

h1.promo-heading {
    color: #D95B44;
    font-size: 45px;
    margin-bottom: 38px;
}
h3.promo-heading-desrciption {
    font-size: 16px;
    font-weight: lighter;
    color: #d0d0d0;
}
.promo-right {
    margin-top: 120px;
    float: right;
}

.promo-image img {
    box-shadow: 7px 6px 19px 4px rgba(74,61,66,0.5);
    border-radius: 5px;
}
.heading-features {
    margin-top: 70px;
    width: 90%;
    margin: 0 auto;
}

.heading-features ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.heading-features li {
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
}



.heading-features h4 {
    color: #d0d0d0;
    margin-top: 10px;
}
.feature-item {
    width: 160px;
    height: 70px;
    background-color: rgba(85, 56, 28, 0.6);
}

.feature-item i {
    float: left;
    font-size: 60px;
    margin-right: 10px;
    margin-left: 5px;
    margin-top: 5px;
    color: #d0d0d0;
}

.feature-item i:last-child {
    margin-right: 0;
}

.features {

}

.features ul {
    padding: 0;
}

.features-heading {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 36px;
    line-height: 40px;
    font-weight: lighter;
    color: #646464;
}

.features-heading span {
    color: #d95b44;

}

.features-item {
    list-style-type: none;
    width: 280px;
    float: left;
    text-align: center;
    padding: 0 30px;
}

.features-responsive {
    
}

.features-customize {
    
}

.features-documented {
   
}

.features-item img {
    background-color: #d95b44;
    border-radius: 50%;
}

.features-item h3 {
    margin-top: 15px;
    font-size: 30px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #646464;
    line-height: 39px;
}

.features-item p {
    font-size: 14px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    color: #767676;
    line-height: 22px;
}

.gallery {
    margin-bottom: 30px;
}
.gallery-heading {
    margin-bottom: 30px;
}

.gallery-icon {
    background-color: #d95b44;
    border-radius: 50%;
    float: left;   
    margin-right: 10px; 
}

.gallery h4 {
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 23px;
    color: #646464;
    font-weight: normal;
    padding-top: 9px;
}

.gallery-items {
    width: 100%;
    float: left;
    text-align: center;
}

.gallery-items .item {
    display: inline-block;
    margin-right: 20px;
}

.gallery-items .item:last-child {
    margin-right: 0;
}

.item h5 {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #767676;
    font-weight: normal;
    text-align: left;
    padding-top: 10px;
}

.item h5:hover {
    color: #d95b44;
}

.options {
    margin-bottom: 35px;
}

.options h4 {
    font-size: 18px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 23px;
    color: #646464;
    font-weight: normal;
    padding-top: 9px;
}

.options-heading {
    margin-bottom: 30px;
}

.options-left {
    float: left;
    width: 45%;
}

.options-right {
    float: right;
    width: 55%;
    margin-top: -60px;
}

.options-right img {
    float: right;
    padding-right: 20px;
    width: 460px;
    height: 280px;
}
.options-description {
    font-size: 14px;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    line-height: 22px;
    color: #767676;
    font-weight: normal;
}

.options-description a {
    color: #d95b44;
    text-decoration: none;        
}

.options-list {
    padding: 0;
    margin: 0;
}
.options-list li {
    list-style-type: none;
    background: url(../img/list-bullet-checkmark.png) no-repeat 0 3px;
    padding-left: 20px;
    margin-bottom: 12px;
}

.get-started {
    margin-top: 45px;
    min-height: 200px;
    background-color: #282828;
    text-align: center;
    padding: 20px 25px 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.get-started h3 {
    font-size: 36px;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    line-height: 40px;
    font-weight: normal;
    margin-bottom: 15px;
}

.get-started > h3 > span {
    color: #d95b44;
}

.advantage-list {
    padding: 0;
    margin-bottom: 40px;
}



.advantage-list li {
    display: inline-block;
    list-style-type: none;
}

.advantage-list li:after {
    content: "|";
    display: inline-block;
    margin: 0 10px;
}

.advantage-list li:last-child:after {
    content: "";
}

.advantage-list > li > span {
    color: #d95b44;
}

.btn {
    width: 174px;
    height: 40px;
    background-color: #d95b44;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    transition: all .3s;
}

.btn:hover {
    background-color: #767676;
}

footer {
    background-color: #212121;
}

.social-left {
    float: left;
    width: 40%;
    box-sizing: border-box;
    margin-right: 20px;
    margin-top: 20px;
}

.social-links {
    float: left;
    width: 50%;
    padding: 0;
    text-align: center;
}

.social-links li {
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #767676;
}

.social-links a:hover {
    color: #484848;
}

.social-links i {
    font-size: 18px;
}

.twitter-acc {
    width: 50%;
    float: right;
    text-align: center;

}

.twitter-acc p {
    margin-bottom: 5px;
}

.twitter-acc a {
    text-decoration: none;
    color: #d95b44;
}

.twitter-acc a:hover {
    color: #767676;
}

.social-left h5 {
    margin-top: 95px;
    font-size: 14px;
    line-height: 18px;
    color: #646464;
    font-weight: normal;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

p.about-grepfrut {
    line-height: 22px;
}

.social-right {
    margin-top: 30px;
    width: 58%;
    float: right;
}

.last-tweets {
    background-color: #282828;
    padding: 16px 40px 20px 28px;
    border: 1px solid #161616;
    border-radius: 4px;
    margin-bottom: 35px;
}

p.tweets {
    margin: 0;
    padding: 0;
    line-height: 22px;
}

p.tweets span {
    color: #d95b44;
}

.last-tweets time {
    color: #d95b44;
    font-size: 12px;
    line-height: 22px;

}

.social-right h5 {
    margin-bottom: 17px;
    font-size: 14px;
    line-height: 18px;
    color: #646464;
    font-weight: normal;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.latest-posts {
    float: left;
    width: 50%;
}

.post-item {
    margin-bottom: 15px;
    height: 50px;
}

.post-item img {
    float: left;
    width: 80px;
    height: 40px;
    padding-top: 5px;
    margin-right: 10px;
}

.post-item time {
    font-size: 11px;
    line-height: 1em;

}

.post-item a {
    display: block;
    color: #d95b44;
    font-size: 12px;
    line-height: 1.6em;
}

.contacts {
    float: left;
    width: 50%;
}

.adress {
    background: url(../img/icon-address.png) no-repeat 0 -2px;
    padding-left: 30px;
    padding-top: 3px;
}

.adress:after {
    background: url(../img/footer-item-divider.png) repeat-x;
    width: 100%;
    height: 2px;
    content: "";
    display: block;
    margin: 10px 0;
}

.company-name {
    margin: 0;
    padding: 0;
}

.phone-number {
    background: url(../img/icon-phone.png) no-repeat 0 -2px;
    padding-left: 30px;
    padding-top: 3px; 
}

.phone-number a {
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #767676;
    text-decoration: none;
}

.phone-number:after {
    background: url(../img/footer-item-divider.png) repeat-x;
    width: 100%;
    height: 2px;
    content: "";
    display: block;
    margin: 10px 0;
}

.company-email {
    background: url(../img/icon-mail.png) no-repeat 0 -2px;
    padding-left: 30px;
    padding-top: 3px; 
}

.company-email a {
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #d95b44;
    text-decoration: none;
    transition: all .3s;   
}

.company-email a:hover {
    color: #767676;  
}

.company-email:after {
    background: url(../img/footer-item-divider.png) repeat-x;
    width: 100%;
    height: 2px;
    content: "";
    display: block;
    margin: 10px 0;
}

.company-skype {
    background: url(../img/social-icon-skype.png) no-repeat 0 -2px;
    padding-left: 30px;
    padding-top: 3px;
}

.company-skype a {
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #d95b44;
    text-decoration: none;
    transition: all .3s;   
}

.company-skype a:hover {
    color: #767676;  
}

.company-skype:after {
    background: url(../img/footer-item-divider.png) repeat-x;
    width: 100%;
    height: 2px;
    content: "";
    display: block;
    margin: 10px 0;
}

.footer-bottom {
    box-sizing: border-box;
    padding: 10px;
    margin-top: 40px;
    height: 50px;
    background-color: #767676;
}

.copyright {
    float: left;
    width: 50%;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #242424;
}

.copyright a {
    color: #fff;
    text-decoration: none;
}

.footer-nav {
    float: right;
 }

 .footer-nav ul {
    padding: 0;
    margin-top: 10px;
 }

.footer-nav li {
    display: inline-block;
    margin-right: 10px;
}

.footer-nav li:last-child {
    margin-right: 0;
}

.footer-nav a {
    text-decoration: none;
    color: #141414;
    font-family: Oxygen, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    transition: all .3s;
}

.footer-nav a:hover {
    color: #fff;
}